@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav part start */
nav{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
nav .nav-text h1{
color: rgb(13, 19, 33);
font-size: 28px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
font-family: Azeret Mono;
}
nav .nav-button button{
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
padding: 15px;
font-size: 17px;
font-weight: bold;
font-family: Azeret Mono;
}
/* nav part end */
/* banner section start */
.banner-container{
    width: 1440px;
    height: 652px;
    background-image: url(./assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.banner-content{
    width: 998px;
    min-height: 582px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner-content .banner-text h1{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 38px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
margin-bottom: 10px;
}
.banner-content .banner-text p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
margin-bottom: 10px;
}
.banner-content .banner-btn button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    padding: 21px 24px 21px 24px;
    font-weight: bold;
    font-size: 15px;
}
/* banner section end */
/* why web development part start */
.development-container{
margin-top: 180px;

}
.development-content{
width: 852px;
height: 113px;
margin: 0 auto;
padding-top: 30px;
}
.development-content h1{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 20px;
}
.development-content p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
/* why web development part end */
/* frame 1 section start */
.frame-1-container{
margin-top: 100px;
margin-bottom: 100px;
}
.frame-1-content{
margin: 0 auto;
width: 850px;
height: 240px;
display: flex;
align-items: center;
background-color: #fff;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
border-radius: 10px;
padding: 30px;
}
.frame-1-text{
width: 50%;
height: 100%;
}
.frame-1-text h1{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 10px;
}
.frame-1-text p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
margin-bottom: 10px;
}
.frame-1-text .frame-1-btn button{
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 12px 20px 12px 20px;
font-size: 16px;
}
.frame-1-img{
width: 50%;
text-align: right; 
}
/* frame 1 section end */
/* frame 2 section start */
.frame-2-container{
margin-top: 100px;
margin-bottom: 100px;
}
.frame-2-content{
margin: 0 auto;
width: 850px;
height: 240px;
display: flex;
align-items: center;
background-color: #fff;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
border-radius: 10px;
padding: 30px;
}
.frame-2-text{
width: 60%;
height: 100%;
}
.frame-2-text h1{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
margin-bottom: 10px;
}
.frame-2-text p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
opacity: 0.7;
margin-bottom: 10px;
}
.frame-2-text .frame-2-btn button{
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 12px 20px 12px 20px;
font-size: 16px;
}
.frame-2-img{
width: 40%;
text-align: left; 
}
/* frame 2 section end */
/* frame 3 section start */
.frame-3-container{
margin-top: 100px;
margin-bottom: 100px;
}
.frame-3-content{
margin: 0 auto;
width: 850px;
height: 240px;
display: flex;
align-items: center;
background-color: #fff;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
border-radius: 10px;
padding: 30px;

}
.frame-3-text{
width: 50%;
height: 100%;
}
.frame-3-text h1{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 10px;
}
.frame-3-text p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
margin-bottom: 10px;
}
.frame-3-text .frame-3-btn button{
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 12px 20px 12px 20px;
font-size: 16px;
}
.frame-3-img{
width: 50%;
text-align: right; 
}
/* frame 3 section end */
/* my inspiration section start */

.my-inspiration-container{
    margin-top: 400px;
    margin-bottom: 100px;
}
.my-inspiration-content{
    margin: 0 auto;
    width: 852px;
    height: 113px;
    text-align: center;
}
.my-inspiration-content h1{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
margin-bottom: 15px;
}
.my-inspiration-content p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
}

/* my inspiration section end */
/* iframe section start */
.iframe-container{
   margin-bottom: 200px;
}
.iframe-content{
    margin: 0 auto;
    width: 1076px;
    height: 600px;
}
.iframe-content iframe{
    width: 100%;
    height: 100%;
}

/* iframe section end */
/* my target section  start */
.current-target-container{
    margin-bottom: 100px;
}
.current-target-content{
    width: 852px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
}
.current-target-content h1{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
margin-bottom: 15px;
}
.current-target-content p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
opacity: 0.7;
}
/* my target section  end */
/* my target card section  start */
.target-card-container{
    margin-bottom: 200px;
}
.target-card-content{
    margin: 0 auto;
    width: 1140px;
    height: 300px;
    display: flex;
    gap: 30px;
}
.target-card-content .card-1{
    width: 364px;
    height: 299px;
    background: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    padding: 30px;
}
.target-card-content .card-2{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 30px;
}.target-card-content .card-3{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 30px;
    
}
.target-card-content .card-1 img{
    margin-bottom: 20px;
} 
.target-card-content .card-1 h1{
 color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 10px;
}
.target-card-content .card-1 p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
margin-bottom: 5px;
}

.target-card-content .card-3 img{
    margin-bottom: 20px;
} 
.target-card-content .card-2 h1{
 color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 10px;
}
.target-card-content .card-2 p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
margin-bottom: 20px;
}
.target-card-content .card-3 img{
    margin-bottom: 20px;
} 
.target-card-content .card-3 h1{
 color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 10px;
}
.target-card-content .card-3 p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
margin-bottom: 10px;
}
.target-card-content .card-1 a{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}
.target-card-content .card-2 a{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}

.target-card-content .card-3 a{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
 }

 /* my target card section  end */
        
    
